<img src="Logo.png" width="100" align="left"/> 

# <center>Data Analytics project:</center>



Congratulations on finishing the lessons content for this second unit !

We have seen a lot of concepts in the second unit and we had the chance to test some of them. Now, we get to see how these different concepts are used to better understand our data.

## Some guidelines: 
1. To run a cell you can use the shortcut use : Shift + Enter

2. Only sections mentioned as To-Do are the places where you should put in your own code other than that we do not recommend that you change the provided code.

3. You will be graded for the visibility of your code so make sure you respect the correct indentation and that your code contains suitable variables names.

4. This notebook is designed in a sequential way so if you solve your project on different days make sure to run the previous cells before you can run the one you want.

5. Teacher assistants in the slack space remain available to answer any questions you might have.

>Best of luck !

## Project Sections:
In this project you will practice some of the concepts seen in the data analytics unit, you will deal with a real dataset. This dataset contains house sale prices for King County. It includes homes sold between May 2014 and May 2015.

Our goal is to analyze this dataset, clean it then create a simple linear regression model using it.

This project is devided into n sections : 
1. [Setting the environement](#set_env)

2. [Importing necessary tools](#importing)

3. [Dataset discovery](#dataset_discovery)

4. [NA handling](#na_handling)

5. [Useless variables deletion](#useless_var)

6. [Outliers detection](#outliers)

7. [Feature selection](#feature_selection)

8. [Linear regression](#linear_reg)

### 1. Setting the environement:  <a id='set_env'></a>

In [2]:
# Make sure you have virtualenv installed 
!pip install --user virtualenv

Requirement already satisfied: virtualenv in c:\users\hp\anaconda3\lib\site-packages (20.10.0)
Requirement already satisfied: platformdirs<3,>=2 in c:\users\hp\anaconda3\lib\site-packages (from virtualenv) (2.4.0)
Requirement already satisfied: filelock<4,>=3.2 in c:\users\hp\anaconda3\lib\site-packages (from virtualenv) (3.3.1)
Requirement already satisfied: six<2,>=1.9.0 in c:\users\hp\anaconda3\lib\site-packages (from virtualenv) (1.16.0)
Requirement already satisfied: backports.entry-points-selectable>=1.0.4 in c:\users\hp\anaconda3\lib\site-packages (from virtualenv) (1.1.1)
Requirement already satisfied: distlib<1,>=0.3.1 in c:\users\hp\anaconda3\lib\site-packages (from virtualenv) (0.3.4)

In [3]:
# To-Do: create a virtual environement called data_analytics
!python -m venv data_analytics

In [4]:
# Activate the environement for windows
#!Source data_analytics/bin/activate
!data_analytics\Scripts\activate.bat

In [5]:
# Activate the environement for linux (debian based)
!. data_analytics/bin/activate

'.' n'est pas reconnu en tant que commande interne
ou externe, un programme exâ€šcutable ou un fichier de commandes.

### 2. Importing necessary tools:<a id='importing'></a>

In [103]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 3. Dataset discovery:<a id='dataset_discovery'></a>

In [104]:
# To-Do: Read the file ("kc_house_data.csv") using pandas and store in a dataframe called df
df = pd.read_csv("kc_house_data.csv")
# To-Do: Print the dataframe's shape
df.shape

(21613, 21)

In [105]:
# To-Do: Print the dataframe's info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21606 non-null  object
 2   price          21608 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21612 non-null  float64
 6   sqft_lot       21612 non-null  float64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21609 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21611 non-null  float64
 15  yr_renovated   21612 non-null  float64
 16  zipcode        21611 non-null  float64
 17  lat            21612 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21612 non-null  float64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(12), int64(8), object(1)
memory usage: 3.5+ MB

### 4. NA handling:<a id='na_handling'></a>
It is clear after printing the dataset info that there are some variables that have less entries than the number of rows which means that some of them don't have values in certain rows.

Given the number of the na values, what do you think is the best method to deal with them?


The best method to deal with them is Letwise Deletion, we delete rows that contain at least one missing value instead of creatin new db containing those changes

In [106]:
# To-Do: deal with the NAs in your dataset in one line
df.dropna(inplace=True)

### 5. Useless variables deletion:<a id='useless_var'></a>
We want to eventually do a regression on it so naturally some variables bring no added value and can be delted without impacting the results.

Delete the column that correspond to variables that aren't needed.

In [107]:
# To-Do: delete the values of the variables that are useless
del df["zipcode"]

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21588 entries, 0 to 21612
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21588 non-null  int64
 1   date           21588 non-null  object
 2   price          21588 non-null  float64
 3   bedrooms       21588 non-null  int64
 4   bathrooms      21588 non-null  float64
 5   sqft_living    21588 non-null  float64
 6   sqft_lot       21588 non-null  float64
 7   floors         21588 non-null  float64
 8   waterfront     21588 non-null  int64
 9   view           21588 non-null  int64
 10  condition      21588 non-null  int64
 11  grade          21588 non-null  int64
 12  sqft_above     21588 non-null  float64
 13  sqft_basement  21588 non-null  int64
 14  yr_built       21588 non-null  float64
 15  yr_renovated   21588 non-null  float64
 16  lat            21588 non-null  float64
 17  long           21588 non-null  float64
 18  sqft_living15  21588 non-null  float64
 19  sqft_lot15     21588 non-null  int64
dtypes: float64(11), int64(8), object(1)
memory usage: 3.5+ MB

### A wild playground appears !!
In the next cell, go wild with the dataset discovery.
You can calculate the mean, the median or do anything you want to learn more the data.

<b>Pro tip :</b> 
Sometimes you might want to know how many unique variables a column has, to do so you can use the padas function :

<center>pd.unique(df['column_name'])</center>

In [109]:
# To-Do : get to know more your data WITHOUT modifying it !!
y=pd.unique(df['lat'])
z=df['view'].unique()
x=pd.unique(df['long'])
print("unique values for each lat, views and longs"%y,
      z,
      x)

unique values for each lat, views and longs [0 3 4 2 1] [-122.257 -122.319 -122.233 -122.393 -122.045 -122.005 -122.327 -122.315
 -122.337 -122.031 -122.145 -122.292 -122.229 -122.394 -122.375 -121.962
 -122.343 -122.21  -122.306 -122.341 -122.169 -122.166 -122.172 -122.218
 -122.36  -122.314 -122.304 -122.11  -122.07  -122.357 -122.368 -122.157
 -122.31  -122.132 -122.362 -122.282 -122.18  -122.027 -122.347 -122.364
 -122.175 -121.977 -122.371 -122.151 -122.301 -122.451 -122.322 -122.189
 -122.384 -122.369 -122.281 -122.29  -122.114 -122.122 -122.116 -122.149
 -122.339 -122.335 -122.344 -122.32  -122.297 -122.192 -122.215 -122.16
 -122.179 -122.287 -122.036 -122.073 -121.987 -122.125 -122.34  -122.025
 -122.008 -122.291 -122.365 -122.199 -122.194 -122.387 -122.372 -122.391
 -122.351 -122.386 -122.249 -122.277 -122.378 -121.958 -121.714 -122.08
 -122.196 -122.184 -122.133 -122.38  -122.082 -122.109 -122.053 -122.349
 -122.295 -122.253 -122.248 -122.303 -122.294 -122.226 -122.266 -122.098
 -122.212 -122.244 -122.39  -122.352 -121.85  -122.152 -122.054 -122.072
 -121.998 -122.296 -122.299 -122.381 -122.358 -122.171 -122.174 -122.026
 -122.353 -121.943 -122.286 -122.336 -122.359 -122.162 -122.3   -122.176
 -121.996 -122.118 -122.023 -122.224 -122.168 -122.231 -122.331 -122.374
 -122.182 -122.308 -122.307 -121.999 -122.376 -122.2   -122.039 -122.102
 -122.188 -122.379 -122.043 -122.153 -122.191 -122.219 -122.312 -121.911
 -121.994 -122.165 -122.37  -122.158 -122.047 -122.284 -122.017 -122.275
 -122.268 -122.367 -122.217 -122.373 -122.013 -122.214 -122.034 -122.164
 -121.899 -122.183 -121.95  -122.324 -122.216 -122.395 -122.213 -122.345
 -122.278 -122.111 -121.711 -122.27  -122.178 -122.147 -121.772 -122.302
 -122.438 -122.223 -122.042 -122.323 -122.255 -122.4   -122.261 -122.071
 -122.206 -122.272 -122.23  -122.144 -122.193 -122.143 -122.154 -122.311
 -122.274 -122.077 -122.    -122.298 -122.058 -121.837 -122.333 -122.057
 -122.252 -122.093 -122.012 -122.052 -122.354 -122.22  -122.49  -121.875
 -122.24  -122.078 -122.173 -121.854 -122.222 -122.28  -122.137 -122.159
 -121.974 -122.141 -122.029 -121.709 -122.016 -122.19  -121.97  -122.329
 -122.195 -122.06  -121.959 -122.095 -122.148 -122.146 -122.35  -121.901
 -122.241 -122.129 -122.289 -122.305 -122.022 -122.385 -121.779 -122.032
 -122.402 -122.482 -122.227 -121.982 -122.161 -122.046 -122.156 -122.127
 -122.33  -122.197 -122.041 -122.103 -122.318 -122.382 -122.271 -121.955
 -122.211 -122.262 -122.258 -122.121 -122.221 -122.234 -122.089 -122.123
 -122.167 -121.909 -122.107 -122.064 -122.066 -122.062 -122.264 -122.186
 -122.087 -121.88  -121.864 -122.205 -122.363 -122.139 -122.018 -122.225
 -122.285 -122.084 -122.177 -122.056 -122.316 -122.021 -122.348 -122.009
 -122.131 -122.411 -122.198 -122.256 -122.117 -122.097 -122.075 -121.845
 -122.083 -122.259 -121.87  -122.015 -122.007 -121.86  -122.409 -121.755
 -121.972 -122.251 -122.317 -121.776 -122.115 -122.283 -122.242 -122.001
 -122.024 -122.309 -122.113 -121.771 -122.239 -122.273 -122.396 -122.094
 -122.267 -122.326 -122.13  -122.269 -121.853 -122.05  -122.346 -122.076
 -121.826 -122.124 -121.758 -122.181 -122.202 -121.785 -121.872 -122.006
 -122.004 -122.321 -121.882 -122.101 -122.03  -122.185 -122.1   -121.759
 -121.965 -122.201 -122.366 -122.313 -122.405 -122.02  -122.279 -122.355
 -121.934 -122.15  -122.356 -121.993 -122.044 -122.134 -121.867 -122.01
 -121.991 -122.011 -121.983 -122.228 -122.033 -122.276 -122.119 -121.937
 -122.361 -122.325 -122.203 -122.136 -122.237 -122.209 -122.128 -122.049
 -122.288 -122.106 -122.037 -122.207 -122.263 -121.915 -122.204 -122.09
 -122.069 -121.852 -121.787 -121.976 -122.377 -122.059 -122.383 -121.989
 -122.019 -122.208 -121.878 -122.328 -122.25  -122.338 -122.388 -122.265
 -122.332 -122.399 -122.397 -122.014 -121.956 -122.092 -122.028 -122.293
 -122.12  -122.035 -122.14  -122.04  -122.112 -121.906 -122.17  -122.238
 -122.512 -121.997 -121.89  -122.463 -121.908 -122.086 -122.389 -121.913
 -122.163 -121.918 -122.108 -122.502 -122.392 -122.236 -121.859 -121.981
 -122.342 -121.96  -121.978 -122.47  -121.91  -121.966 -122.065 -122.246
 -122.41  -121.879 -122.079 -122.099 -122.187 -121.98  -122.002 -122.138
 -121.898 -122.235 -122.126 -121.782 -121.995 -122.401 -121.858 -121.888
 -121.752 -122.063 -122.26  -121.78  -121.708 -121.721 -122.403 -121.945
 -122.243 -122.45  -121.927 -122.085 -122.088 -121.973 -122.055 -122.398
 -121.984 -121.912 -121.903 -121.946 -122.232 -122.412 -122.104 -122.048
 -122.479 -122.155 -121.833 -121.778 -122.003 -121.99  -121.926 -122.051
 -121.986 -122.245 -121.861 -122.431 -121.964 -122.142 -122.074 -122.247
 -122.497 -121.769 -121.827 -121.979 -121.871 -122.091 -121.754 -121.746
 -121.92  -121.992 -122.406 -121.359 -121.789 -121.707 -122.068 -122.404
 -122.334 -121.799 -121.774 -121.985 -121.865 -121.724 -122.415 -121.756
 -121.809 -122.135 -121.691 -122.038 -121.877 -121.94  -121.968 -121.988
 -121.315 -121.902 -122.514 -122.414 -121.883 -121.866 -121.744 -122.096
 -122.061 -121.881 -121.745 -122.461 -122.067 -121.868 -121.646 -121.93
 -122.105 -121.763 -121.718 -121.967 -121.777 -121.957 -121.823 -121.887
 -122.408 -122.462 -122.43  -122.456 -121.897 -121.932 -121.969 -121.916
 -122.081 -121.975 -121.735 -121.801 -121.761 -121.723 -121.924 -122.475
 -121.935 -122.407 -122.448 -122.453 -121.894 -121.936 -121.764 -122.416
 -121.905 -122.464 -121.768 -122.484 -121.738 -121.9   -121.82  -122.455
 -121.889 -122.496 -121.829 -122.505 -121.951 -121.847 -122.509 -121.961
 -121.417 -121.904 -122.503 -121.949 -121.874 -122.432 -121.971 -121.77
 -122.473 -121.896 -121.952 -122.254 -121.743 -121.933 -121.892 -121.749
 -121.473 -121.857 -122.465 -121.838 -121.954 -122.422 -121.931 -121.963
 -122.441 -121.925 -121.352 -122.511 -122.413 -121.876 -121.748 -121.818
 -121.8   -121.929 -121.698 -121.886 -121.802 -121.81  -121.762 -121.781
 -121.775 -122.44  -121.773 -121.819 -121.726 -122.459 -122.446 -121.855
 -121.736 -122.499 -122.46  -121.786 -122.421 -121.947 -122.439 -121.834
 -121.804 -122.443 -121.716 -121.848 -122.458 -122.515 -121.922 -121.953
 -121.783 -122.472 -121.944 -121.869 -121.828 -122.452 -121.831 -121.737
 -121.739 -121.863 -121.73  -121.856 -121.747 -121.893 -121.733 -121.846
 -121.821 -121.319 -121.765 -121.75  -122.506 -121.948 -121.921 -122.507
 -122.457 -121.914 -122.469 -121.792 -121.907 -121.841 -121.757 -121.788
 -121.731 -122.449 -121.316 -121.321 -122.504 -121.884 -121.803 -121.842
 -121.719 -121.766 -122.433 -122.519 -121.851 -121.402 -122.454 -122.467
 -121.325 -121.815 -121.676 -121.941 -122.445 -121.76  -121.885 -121.742
 -121.822 -121.895 -121.784 -121.701 -121.713 -121.727 -121.849 -121.835
 -122.435 -122.474 -122.444 -121.939 -121.48  -121.364 -121.767 -122.42
 -121.84  -122.425 -122.447 -121.797 -122.491 -121.917 -121.891 -121.942
 -121.862 -121.725 -121.873 -121.405 -122.486 -121.795 -121.734 -121.403]

In [110]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180.0,5650.0,1.0,0,0,3,7,1180.0,0,1955.0,0.0,47.5112,-122.257,1340.0,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570.0,7242.0,2.0,0,0,3,7,2170.0,400,1951.0,1991.0,47.7210,-122.319,1690.0,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770.0,10000.0,1.0,0,0,3,6,770.0,0,1933.0,0.0,47.7379,-122.233,2720.0,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960.0,5000.0,1.0,0,0,5,7,1050.0,910,1965.0,0.0,47.5208,-122.393,1360.0,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680.0,8080.0,1.0,0,0,3,8,1680.0,0,1987.0,0.0,47.6168,-122.045,1800.0,7503

### 6.Outliers detection:<a id='outliers'></a>
Having outliers is a common problem that might affect the quality of the model that we're building.

Let's assume that we're not interested in very expensive or very cheap houses, we want a model that best fits the average priced houses.

To create such a model, we detect outliers and delete them using the Z-score method seen in the lessons.

In [111]:
# To-Do : detect the outliers then delete them ad delete the column created to calculate the Z-score
df["price_zscore"]=(df.price - df.price.mean())/ df.price.std()
df=df[df["price_zscore"]>3]
del df["price_zscore"]

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405 entries, 21 to 21576
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             405 non-null    int64
 1   date           405 non-null    object
 2   price          405 non-null    float64
 3   bedrooms       405 non-null    int64
 4   bathrooms      405 non-null    float64
 5   sqft_living    405 non-null    float64
 6   sqft_lot       405 non-null    float64
 7   floors         405 non-null    float64
 8   waterfront     405 non-null    int64
 9   view           405 non-null    int64
 10  condition      405 non-null    int64
 11  grade          405 non-null    int64
 12  sqft_above     405 non-null    float64
 13  sqft_basement  405 non-null    int64
 14  yr_built       405 non-null    float64
 15  yr_renovated   405 non-null    float64
 16  lat            405 non-null    float64
 17  long           405 non-null    float64
 18  sqft_living15  405 non-null    float64
 19  sqft_lot15     405 non-null    int64
dtypes: float64(11), int64(8), object(1)
memory usage: 66.4+ KB

### 7.Feature selection:<a id='feature_selection'></a>
It is clear that even after deleting some features, there might be other features that aren't obviously useless but can be delted and keep a good overall performance.

To verify this, we perform feature selection on our variables.

In [113]:
# To-Do : perform feature selection using correlation
df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.131234,0.031255,-0.026055,0.026472,-0.107176,-0.085367,-0.014579,0.023846,0.023655,-0.048057,0.009211,0.031612,-0.020201,0.032461,-0.038860,-0.037325,0.036859,-0.085822
price,0.131234,1.000000,0.189290,0.460795,0.599631,-0.044052,0.036828,0.220422,0.196586,-0.042742,0.396800,0.465029,0.328128,0.009312,0.043745,0.054533,-0.072504,0.214098,0.001188
bedrooms,0.031255,0.189290,1.000000,0.427067,0.402132,-0.085008,0.181461,-0.185200,-0.114861,0.053567,0.081547,0.325971,0.198706,-0.067134,-0.034653,0.038653,-0.014286,0.116083,-0.082147
bathrooms,-0.026055,0.460795,0.427067,1.000000,0.715722,0.075766,0.200562,-0.113222,-0.024007,-0.215557,0.477499,0.627471,0.282087,0.296837,-0.106462,-0.012192,0.140179,0.107454,0.076847
sqft_living,0.026472,0.599631,0.402132,0.715722,1.000000,0.145417,0.224193,-0.062433,0.008835,-0.136512,0.598503,0.816237,0.485612,0.173996,-0.073138,-0.061677,0.220830,0.280647,0.213038
sqft_lot,-0.107176,-0.044052,-0.085008,0.075766,0.145417,1.000000,0.096867,-0.052431,-0.006204,-0.095415,0.172398,0.205789,-0.061171,0.136753,-0.070380,-0.111021,0.515575,-0.032870,0.781135
floors,-0.085367,0.036828,0.181461,0.200562,0.224193,0.096867,1.000000,-0.046403,-0.052277,-0.089357,0.262573,0.410336,-0.235130,0.056441,-0.106416,0.009165,-0.059578,-0.087520,0.030301
waterfront,-0.014579,0.220422,-0.185200,-0.113222,-0.062433,-0.052431,-0.046403,1.000000,0.592555,0.003690,-0.127055,-0.139126,0.103090,-0.013852,0.069957,-0.059590,0.079382,-0.058957,-0.013907
view,0.023846,0.196586,-0.114861,-0.024007,0.008835,-0.006204,-0.052277,0.592555,1.000000,0.127567,-0.028026,-0.169115,0.271098,-0.055458,0.045237,-0.021031,-0.063326,0.084537,0.004152
condition,0.023655,-0.042742,0.053567,-0.215557,-0.136512,-0.095415,-0.089357,0.003690,0.127567,1.000000,-0.237628,-0.260298,0.158974,-0.546310,-0.100233,0.031030,-0.260527,0.065095,-0.080153
grade,-0.048057,0.396800,0.081547,0.477499,0.598503,0.172398,0.262573,-0.127055,-0.028026,-0.237628,1.000000,0.601957,0.118994,0.349513,-0.219151,-0.107003,0.168156,0.269792,0.212541
sqft_above,0.009211,0.465029,0.325971,0.627471,0.816237,0.205789,0.410336,-0.139126,-0.169115,-0.260298,0.601957,1.000000,-0.108650,0.274600,-0.134932,-0.060181,0.277596,0.180061,0.273697
sqft_basement,0.031612,0.328128,0.198706,0.282087,0.485612,-0.061171,-0.235130,0.103090,0.271098,0.158974,0.118994,-0.108650,1.000000,-0.116116,0.078324,-0.015065,-0.040063,0.210451,-0.047570
yr_built,-0.020201,0.009312,-0.067134,0.296837,0.173996,0.136753,0.056441,-0.013852,-0.055458,-0.546310,0.349513,0.274600,-0.116116,1.000000,-0.343243,-0.130920,0.419406,-0.060048,0.140289
yr_renovated,0.032461,0.043745,-0.034653,-0.106462,-0.073138,-0.070380,-0.106416,0.069957,0.045237,-0.100233,-0.219151,-0.134932,0.078324,-0.343243,1.000000,0.023073,-0.092810,0.006561,-0.049379
lat,-0.038860,0.054533,0.038653,-0.012192,-0.061677,-0.111021,0.009165,-0.059590,-0.021031,0.031030,-0.107003,-0.060181,-0.015065,-0.130920,0.023073,1.000000,-0.321314,-0.183974,-0.084867
long,-0.037325,-0.072504,-0.014286,0.140179,0.220830,0.515575,-0.059578,0.079382,-0.063326,-0.260527,0.168156,0.277596,-0.040063,0.419406,-0.092810,-0.321314,1.000000,0.155454,0.499467
sqft_living15,0.036859,0.214098,0.116083,0.107454,0.280647,-0.032870,-0.087520,-0.058957,0.084537,0.065095,0.269792,0.180061,0.210451,-0.060048,0.006561,-0.183974,0.155454,1.000000,0.142330
sqft_lot15,-0.085822,0.001188,-0.082147,0.076847,0.213038,0.781135,0.030301,-0.013907,0.004152,-0.080153,0.212541,0.273697,-0.047570,0.140289,-0.049379,-0.084867,0.499467,0.142330,1.000000

In [114]:
# To-Do : drop the variables that seem highly correlated to you
# correlation between sqft_lot15  and sqft_lot is  0.781135
del df["sqft_lot"]
del df["sqft_lot15"]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 405 entries, 21 to 21576
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             405 non-null    int64
 1   date           405 non-null    object
 2   price          405 non-null    float64
 3   bedrooms       405 non-null    int64
 4   bathrooms      405 non-null    float64
 5   sqft_living    405 non-null    float64
 6   floors         405 non-null    float64
 7   waterfront     405 non-null    int64
 8   view           405 non-null    int64
 9   condition      405 non-null    int64
 10  grade          405 non-null    int64
 11  sqft_above     405 non-null    float64
 12  sqft_basement  405 non-null    int64
 13  yr_built       405 non-null    float64
 14  yr_renovated   405 non-null    float64
 15  lat            405 non-null    float64
 16  long           405 non-null    float64
 17  sqft_living15  405 non-null    float64
dtypes: float64(10), int64(7), object(1)
memory usage: 60.1+ KB

### 8.Linear regression:<a id='linear_reg'></a>
Now that our data is clean and ready to be used, let's try to fit it into a linear regression model.

<ul>
    <li>We begin by splitting our variables into dependant and independant variables.</li>
    <li>We create the model using the LinearRegression class.</li>
    <li>We evaluate our model using the RÂ² score</li>
</ul>

In [125]:
# Splitting the data into dependant and independant variables
Y = df['price']
X = df.drop(['price'],axis = 1)

In [126]:
from sklearn.linear_model import LinearRegression
# To-Do : Create a linear regression model using the LinearRegression class then fit it to the data
#model = LinearRegression()
#X=df.drop(['price'],axis = 1).values.reshape(-1,1)
#Y=df['price'].values.reshape(-1,1)
#model.fit(X,Y)
# this method doesn't work ??

from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree= 4)
X_poly = poly.fit_transform(X)
poly.fit(X_poly, Y)
poly_reg = LinearRegression()
poly_reg.fit(X_poly, Y)

ValueError: could not convert string to float: '20140826T000000'

In [127]:
# The function used to calculate the RÂ² score is the method "score" found in the LinearRegression class
result.score(X, Y)

NameError: name 'result' is not defined

## Conclusion:
Data preparation is a very important step in the machine learning pipeline. It is crucial to clean our data and understand it very well before we can create any model on the data.

In this notebook, we have spent 4 steps preparing our data but only 1 to create the model. This reflects how time consuming the process of data preparation is compared to the other steps as well as the importance of the quality of the data used.

In the next unit, we will see more about the models creation process and see a lot of important concepts in depth.