In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
df = pd.read_csv("food-allergy-analysis-Zenodo.csv")

In [2]:
df.head()

,SUBJECT_ID,BIRTH_YEAR,GENDER_FACTOR,RACE_FACTOR,ETHNICITY_FACTOR,PAYER_FACTOR,ATOPIC_MARCH_COHORT,AGE_START_YEARS,AGE_END_YEARS,SHELLFISH_ALG_START,...,CASHEW_ALG_END,ATOPIC_DERM_START,ATOPIC_DERM_END,ALLERGIC_RHINITIS_START,ALLERGIC_RHINITIS_END,ASTHMA_START,ASTHMA_END,FIRST_ASTHMARX,LAST_ASTHMARX,NUM_ASTHMARX
0,1,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P1 - Medicaid,False,0.093087,3.164956,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,S1 - Female,R0 - White,E0 - Non-Hispanic,P0 - Non-Medicaid,False,12.232717,18.880219,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,S0 - Male,R0 - White,E1 - Hispanic,P0 - Non-Medicaid,True,0.010951,6.726899,NaN,...,NaN,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,S0 - Male,R4 - Unknown,E1 - Hispanic,P0 - Non-Medicaid,False,2.398357,9.111567,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,S1 - Female,R1 - Black,E0 - Non-Hispanic,P0 - Non-Medicaid,False,0.013689,6.193018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333200 entries, 0 to 333199
Data columns (total 50 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   SUBJECT_ID               333200 non-null  int64
 1   BIRTH_YEAR               333200 non-null  int64
 2   GENDER_FACTOR            333200 non-null  object
 3   RACE_FACTOR              333200 non-null  object
 4   ETHNICITY_FACTOR         333200 non-null  object
 5   PAYER_FACTOR             333200 non-null  object
 6   ATOPIC_MARCH_COHORT      333200 non-null  bool
 7   AGE_START_YEARS          333200 non-null  float64
 8   AGE_END_YEARS            333200 non-null  float64
 9   SHELLFISH_ALG_START      5246 non-null    float64
 10  SHELLFISH_ALG_END        1051 non-null    float64
 11  FISH_ALG_START           1796 non-null    float64
 12  FISH_ALG_END             527 non-null     float64
 13  MILK_ALG_START           7289 non-null    float64
 14  MILK_ALG_END             4580 non-null    float64
 15  SOY_ALG_START            2419 non-null    float64
 16  SOY_ALG_END              1431 non-null    float64
 17  EGG_ALG_START            6065 non-null    float64
 18  EGG_ALG_END              3293 non-null    float64
 19  WHEAT_ALG_START          1146 non-null    float64
 20  WHEAT_ALG_END            688 non-null     float64
 21  PEANUT_ALG_START         8653 non-null    float64
 22  PEANUT_ALG_END           2092 non-null    float64
 23  SESAME_ALG_START         766 non-null     float64
 24  SESAME_ALG_END           178 non-null     float64
 25  TREENUT_ALG_START        1 non-null       float64
 26  TREENUT_ALG_END          0 non-null       float64
 27  WALNUT_ALG_START         704 non-null     float64
 28  WALNUT_ALG_END           166 non-null     float64
 29  PECAN_ALG_START          285 non-null     float64
 30  PECAN_ALG_END            59 non-null      float64
 31  PISTACH_ALG_START        369 non-null     float64
 32  PISTACH_ALG_END          82 non-null      float64
 33  ALMOND_ALG_START         386 non-null     float64
 34  ALMOND_ALG_END           117 non-null     float64
 35  BRAZIL_ALG_START         68 non-null      float64
 36  BRAZIL_ALG_END           19 non-null      float64
 37  HAZELNUT_ALG_START       253 non-null     float64
 38  HAZELNUT_ALG_END         52 non-null      float64
 39  CASHEW_ALG_START         561 non-null     float64
 40  CASHEW_ALG_END           121 non-null     float64
 41  ATOPIC_DERM_START        49515 non-null   float64
 42  ATOPIC_DERM_END          41732 non-null   float64
 43  ALLERGIC_RHINITIS_START  55567 non-null   float64
 44  ALLERGIC_RHINITIS_END    25326 non-null   float64
 45  ASTHMA_START             63874 non-null   float64
 46  ASTHMA_END               25465 non-null   float64
 47  FIRST_ASTHMARX           117550 non-null  float64
 48  LAST_ASTHMARX            117550 non-null  float64
 49  NUM_ASTHMARX             117550 non-null  float64
dtypes: bool(1), float64(43), int64(2), object(4)
memory usage: 124.9+ MB

In [26]:
x=df.iloc[:,7:42].values 
y=df.iloc[:,-1:].values 
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [27]:
class Logistic_regression_scratch(): 
    def __init__(self, learning_rate, iterations):
        
        self.learning_rate = learning_rate
        self.iterations=iterations
    # function for model training 
    def fit(self, x, y):
        self.m, self.n=x.shape
        self.w = np.zeros(self.n)
        self.b=0
        self.x=x
        self.y=y
    # gradient descent 
        for i in range (self.iterations):
            self.update_weights()
        return self
    # Helper function to update weights in gradient descent 
    def update_weights(self):
        A = 1/(1+np.exp(-(self.x.dot(self.w)+self.b)))
        # calculate gradients 
        tmp= (A - self.y.T)
        tmp= np.reshape(tmp, self.m)
        dw = np.dot(self.x.T, tmp)/ self.m
        db = np.sum(tmp)/ self.m
        # update weights 
        self.w =self.w - self.learning_rate * dw
        self.b =self.b - self.learning_rate*db
        return self 
    # hypothetical function h(x)
    def predict (self, x):
        z= 1/ (1+np.exp(-(x.dot(self.w)+self.b)))
        y = np.where(z>0.5, 1, 0)
        return y

In [28]:
def get_accuracy(y_pred, y_test):
        correctly_classified=0
        for count in range (np.size(y_pred)):
            if y_pred[count]== y_test[count]:
                correctly_classified=correctly_classified+1
        acc=(correctly_classified/len(y_pred)) *100
        print("Accuracy on testset={:.2f}".format(acc))
        return acc

In [29]:
model =Logistic_regression_scratch(learning_rate=0.01, iterations=1000)
model.fit(x_train, y_train)
y_predict= model.predict(x_test)

In [30]:
scratch_acc = get_accuracy(y_predict, y_test)

Accuracy on testset=0.00